<div class="container h-100">
    <div class="row h-100">
      <div class="col-md-6 m-auto">
  
        <div class="card">
          <div class="card-header">
            Register
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">


                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" 
                        class="form-control" 
                        id="email" 
                        formControlName="email"
                        [ngClass]="{ 'is-invalid': IsSubmitted && f.email.errors }" >
                    <div *ngIf="IsSubmitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Emailis required</div>
                    </div>
                </div>


                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" 
                        class="form-control" 
                        id="password" 
                        formControlName="password"
                        [ngClass]="{ 'is-invalid': IsSubmitted && f.password.errors }" >
                    <div *ngIf="IsSubmitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Passwordis required</div>
                    </div>
                </div>
           
                <div class="form-group">
                    <label for="confirm-password">Confirm Password</label>
                    <input type="password" 
                           class="form-control" 
                           id="confirm-password" 
                           formControlName="confirmPassword"
                           [ngClass]="{ 'is-invalid': IsSubmitted && f.confirmPassword.errors }" >
                    <div *ngIf="IsSubmitted && f.confirmPassword.errors" class="invalid-feedback">
                         <div *ngIf="f.confirmPassword.errors.required">Confirm Passwordis required</div>
                    </div>
               </div>
               

              <div class="d-flex justify-content-between">
                <button [disabled]="IsLoading" type="submit" class="btn btn-primary">Submit</button>
              </div>
              
            </form>
          </div>
        </div>
  
      </div>
    </div>
  
  </div>
  