<div id="login" class="container">
    <div class="row ">
      <div class="col-md-6 m-auto">
  
        <div class="card z-depth-2">
          <div class="card-header">
            Login Form
          </div>
          <div class="card-body">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">


              <div class="form-group">
                <label for="emailadd">Email address</label>
                <input type="email" 
                       class="form-control" 
                       id="emailadd" 
                       formControlName="username"
                       [ngClass]="{ 'is-invalid': IsSubmitted && f.username.errors }" >
                <div *ngIf="IsSubmitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
              </div>



              <div class="form-group">
                <label for="password">Password</label>
                <input type="password" 
                       class="form-control"
                       id="password"
                       placeholder="Password"
                       [ngClass]="{ 'is-invalid': IsSubmitted && f.password.errors }" 
                       formControlName="password">
                <div *ngIf="IsSubmitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
              </div>
              <div class="d-flex justify-content-between">
                <button [disabled]="IsLoading" type="submit" class="btn btn-primary">Submit</button>
                <a [routerLink]="['/register']" class="btn btn-link">Register</a>
              </div>
              
            </form>
          </div>
        </div>
  
      </div>
    </div>
  
  </div>
  