<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" 
               class="form-control" 
               id="name" 
               formControlName="name"
               [ngClass]="{ 'is-invalid': IsSubmitted && f.name.errors }" >
        <div *ngIf="IsSubmitted && f.name.errors" class="invalid-feedback">
            <div *ngIf="f.name.errors.required">Name is required</div>
        </div>
   </div>
   
   <div class="form-group">
    <label for="published-date">Published Date</label>
    <input type="datetime-local" 
           class="form-control" 
           id="published-date" 
           formControlName="publishedDate"
           [ngClass]="{ 'is-invalid': IsSubmitted && f.publishedDate.errors }" >
    <div *ngIf="IsSubmitted && f.publishedDate.errors" class="invalid-feedback">
         <div *ngIf="f.publishedDate.errors.required">Published Date is required</div>
    </div>
</div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>
