<div class="container">
    <div class="card">
        <div class="card-header">
          Create Book
        </div>
        <div class="card-body">
            <app-async-container [IsLoading]="IsLoading" [Caption]="'Saving...'">
                <app-book-fill (Submitted)="StoreBook($event)"></app-book-fill>
            </app-async-container>
        </div>
    </div>
    
</div>

