<div id="async" class="w-100" >
    <div *ngIf="IsLoading" class="d-flex loading-holder">
        <div class="m-auto d-flex flex-column align-items-center">
            <div class="sk-circle">
              <div class="sk-circle1 sk-child"></div>
              <div class="sk-circle2 sk-child"></div>
              <div class="sk-circle3 sk-child"></div>
              <div class="sk-circle4 sk-child"></div>
              <div class="sk-circle5 sk-child"></div>
              <div class="sk-circle6 sk-child"></div>
              <div class="sk-circle7 sk-child"></div>
              <div class="sk-circle8 sk-child"></div>
              <div class="sk-circle9 sk-child"></div>
              <div class="sk-circle10 sk-child"></div>
              <div class="sk-circle11 sk-child"></div>
              <div class="sk-circle12 sk-child"></div>
            </div>
            <small class="pt-3 d-block">{{Caption}}</small>
        </div>
    </div>

    <div class="content-holder" [ngClass]="{'blur': IsLoading}">
        <ng-content></ng-content>
    </div>
</div>