<div class="alert alert-{{Notification.type}} z-depth-2 alert-dismissible fade show" role="alert">
    <span [innerHTML]="Notification.message"></span>
    <button type="button" (click)="Close()" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>



