<div class="container">
    <div class="card">
        <div class="card-header">
          Update Book
        </div>
        <div class="card-body">
            <app-async-container [IsLoading]="IsLoading" [Caption]="Caption">
                <app-book-fill [Resource]="Resource"  (Submitted)="UpdateBook($event)" ></app-book-fill>
            </app-async-container>
        </div>
    </div>
    
</div>

