

<div class="container">
    <div class="d-flex justify-content-between align-items-center">
        <h2>Books</h2>
        <div>
            <button  [disabled]="IsLoading" class="btn btn-success btn-sm" (click)="RefreshList()">
                <i class="fas fa-sync" [ngClass]="{'fa-spin':IsLoading }" ></i>
                Refresh
            </button>

            <a  [routerLink]="['/books','create']" class="btn btn-primary btn-sm ml-2"><i class="fas fa-plus"></i>&nbsp;Add</a>
        </div>
    </div>
    
    <app-async-container [IsLoading]="IsLoading">
        <app-simple-list *ngIf="items" 
                        [items]="items"
                        (Clicked)="ItemClicked($event)"
                        (Deleted)="ItemDeleted($event)"></app-simple-list>
    </app-async-container>
</div>