<ul class="list-group">
    <li *ngFor="let item of items" 
        (click)="ItemClicked(item)" class="c-pointer list-group-item d-flex justify-content-between align-items-center">
            <span>{{item.title}}</span>
            <span *ngIf="showDelete" class="c-pointer text-danger" (click)="ItemDeleted($event, item)">
                <i class="fas fa-trash-alt"></i>
            </span>
    </li>
</ul>


