<nav
class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
>
<div class="container">
  <a class="navbar-brand" [routerLink]="['/books']">Library</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target=".navbar-collapse"
    aria-label="Toggle navigation"
    [attr.aria-expanded]="isExpanded"
    (click)="toggle()"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div
    class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse"
    [ngClass]="{ show: isExpanded }"
  >
    <ul class="navbar-nav flex-grow">
      <li
        class="nav-item"
        [routerLinkActive]="['link-active']">
        <a class="nav-link text-dark" [routerLink]="['/books']">Books</a>
      </li>
      <li class="nav-item d-flex">
        <a (click)="Logout()" class="nav-link text-dark" href="#"><i  class="fas fa-power-off"></i></a>
      </li>
    </ul>
  </div>
</div>
</nav>